# Filtered OpenAPI spec for Aura Historia Partner Connect.
# Generated by scripts/generate-openapi-client.mjs.
# Source: https://raw.githubusercontent.com/aura-historia/internal-api/39c2a0c98eb1e6a834d9f48a4d7c492708b66921/swagger.yaml
openapi: 3.0.0
info:
  title: Aura-Historia Backend API
  description: >
    REST API for the Aura-Historia backend.


    The backend is written in Rust and utilizes event-driven architecture with
    CQRS and Event-Sourcing,

    hosted entirely on AWS using services like API Gateway, OpenSearch,
    DynamoDB, SQS, and Lambda.
  version: 1.0.0
  contact:
    name: Aura-Historia Team
    url: https://aura-historia.com/
  license:
    name: License
    url: https://github.com/aura-historia/backend/blob/develop/LICENSE
servers:
  - url: https://api.aura-historia.com
    description: Aura Historia Production API
paths:
  /api/v1/shops/{shopId}/products:
    put:
      summary: Batch upsert products (Partner API)
      description: >
        Creates new products or updates existing ones for a shop in a single
        batch call,

        using API key authentication. This endpoint is intended for partner
        shops — shops

        that have been granted partner status and have an API key configured. It
        does **not**

        use Cognito JWT authentication.


        The request body is an array of `PutProductData` objects. For each entry
        the backend

        checks whether a product with the given `shopsProductId` already exists
        in the shop:

        - **Existing product** — only `state` and `price` are updated (other
        fields are ignored).

        - **New product** — a full product is created using all provided fields.


        Products are processed individually: if some products fail to upsert,
        the response

        still returns HTTP 200 with a partial-failure map in the `errors` field.
        Only entries

        that failed are present in the map.


        An empty `errors` map in the response indicates all products were
        upserted successfully.
      operationId: putPartnerProducts
      tags:
        - Products
      parameters:
        - name: shopId
          in: path
          required: true
          description: Unique identifier of the partner shop
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      security:
        - PartnerApiKeyAuth: []
      requestBody:
        required: true
        description: Array of products to upsert. Must not be empty.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/PutProductData"
            examples:
              create_new:
                summary: Create a new product
                value:
                  - shopsProductId: baroque-violin-001
                    title:
                      text: Baroque Violin
                      language: en
                    description:
                      text: A beautiful 18th-century baroque violin in excellent condition.
                      language: en
                    price:
                      currency: EUR
                      amount: 4500
                    state: AVAILABLE
                    url: https://my-shop.com/products/baroque-violin
                    images:
                      - https://my-shop.com/images/violin-1.jpg
              update_existing:
                summary: Update an existing product's state
                value:
                  - shopsProductId: baroque-violin-001
                    state: SOLD
      responses:
        "200":
          description: >
            Batch upsert request processed. Returns a map of `shopsProductId` to
            error key for

            any products that failed to upsert. An empty `errors` map means all
            products

            were upserted successfully.
          headers:
            Access-Control-Allow-Origin:
              description: CORS header
              schema:
                type: string
              example: "*"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PutProductsResponse"
              examples:
                all_success:
                  summary: All products upserted successfully
                  value:
                    errors: {}
                partial_failure:
                  summary: Some products failed to upsert
                  value:
                    errors:
                      baroque-violin-002: UPSERT_FAILED
        "400":
          description:
            Bad request — request body is missing, empty, or contains invalid
            JSON
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                missing_body:
                  summary: Request body is absent or empty
                  value:
                    status: 400
                    title: Bad Request
                    error: BAD_BODY_VALUE
                    detail: Body cannot be empty.
                invalid_json:
                  summary: Request body is not valid JSON
                  value:
                    status: 400
                    title: Bad Request
                    error: INVALID_JSON
                    detail: expected value at line 1 column 1
        "401":
          description: >
            Unauthorized — the `x-api-key` header is missing, malformed, or the
            API key does not

            match the key stored for the shop.
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                missing_header:
                  summary: x-api-key header is missing or empty
                  value:
                    status: 401
                    title: Unauthorized
                    error: BAD_HEADER_VALUE
                    source:
                      field: x-api-key
                      sourceType: header
                    detail: Missing or empty 'x-api-key' header.
                api_key_mismatch:
                  summary: API key does not match the shop's stored key
                  value:
                    status: 401
                    title: Unauthorized
                    error: PARTNER_SHOP_API_KEY_MISMATCH
        "403":
          description: Forbidden — the shop exists but has not been granted partner status
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ApiError"
              example:
                status: 403
                title: Forbidden
                error: PARTNER_SHOP_NOT_PARTNERED
        "404":
          description: Not found — the specified shop does not exist
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ApiError"
              example:
                status: 404
                title: Not Found
                error: SHOP_NOT_FOUND
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ApiError"
              example:
                status: 500
                title: Internal Server Error
                error: INTERNAL_SERVER_ERROR
  /api/v1/shops/{shopId}:
    patch:
      summary: Update shop details
      description: >
        Updates mutable shop metadata for the specified shop.


        Requires either:

        - a valid Cognito JWT for the partner user assigned to the shop or for
        an `ADMIN`, or

        - the partner shop's `x-api-key` when no Cognito identity is present.


        The request body uses `PatchShopData`. Only fields present in the JSON
        body are applied;

        omitted or `null` fields are left unchanged. The HTTP request body
        itself must not be absent

        or an empty string; `{}` is valid.
      operationId: patchShopById
      tags:
        - Shops
      security:
        - BearerAuth: []
        - PartnerApiKeyAuth: []
      parameters:
        - name: shopId
          in: path
          required: true
          description: Unique identifier of the shop (UUID format)
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        required: true
        description: Partial shop update payload. Send only the fields that should change.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchShopData"
            example:
              shopifyDomain: tech-store-premium.myshopify.com
              shopifyCurrency: EUR
              shopifyLanguage: en
              woocommerceWebhookSecret: woocommerce-acceptance-secret
              woocommerceCurrency: EUR
              woocommerceLanguage: de
              url: https://tech-store-premium.com/
              structuredAddress:
                addressline: Pariser Platz 1
                addresslineExtra: 2. Etage
                postalCode: "10117"
                locality: Berlin
                country: DE
                continent: EUROPE
              phone: +49 30 123456
              email: contact@tech-store-premium.com
      responses:
        "200":
          description: Shop updated successfully
          headers:
            Last-Modified:
              description: When the shop was last updated
              schema:
                type: string
                format: http-date
              example: Wed, 01 Jan 2024 12:00:00 GMT
            Access-Control-Allow-Origin:
              description: CORS header
              schema:
                type: string
              example: "*"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetShopData"
              example:
                shopId: 550e8400-e29b-41d4-a716-446655440000
                shopSlugId: tech-store-premium
                name: Tech Store Premium
                shopType: COMMERCIAL_DEALER
                domains:
                  - tech-store-premium.com
                  - tech-store-premium.de
                  - apple.tech-store-premium.com
                shopifyDomain: tech-store-premium.myshopify.com
                shopifyCurrency: EUR
                shopifyLanguage: en
                woocommerceCurrency: EUR
                woocommerceLanguage: de
                url: https://tech-store-premium.com/?utm_source=aura_historia&utm_medium=referral
                image: https://tech-store-premium.com/logo.svg
                structuredAddress:
                  addressline: Pariser Platz 1
                  addresslineExtra: 2. Etage
                  postalCode: "10117"
                  locality: Berlin
                  country: DE
                  continent: EUROPE
                geoAddress:
                  lat: 52.516275
                  lon: 13.377704
                phone: +49 30 123456
                email: contact@tech-store-premium.com
                partnerStatus: PARTNERED
                created: 2024-01-01T10:00:00Z
                updated: 2024-01-01T12:00:00Z
        "400":
          description: Bad request - invalid or missing shop ID, empty body, or invalid JSON
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                missing_shop_id:
                  summary: Missing shop ID
                  value:
                    status: 400
                    title: Bad Request
                    error: BAD_PATH_PARAMETER_VALUE
                    source:
                      field: shopId
                      sourceType: path
                    detail: Missing field 'shopId'.
                invalid_shop_id:
                  summary: Invalid shop ID format
                  value:
                    status: 400
                    title: Bad Request
                    error: INVALID_UUID
                    source:
                      field: shopId
                      sourceType: path
                    detail: Invalid UUID format
                missing_body:
                  summary: HTTP request body is absent or an empty string
                  value:
                    status: 400
                    title: Bad Request
                    error: BAD_BODY_VALUE
                    detail: Body cannot be empty
                invalid_json:
                  summary: Request body is not valid JSON
                  value:
                    status: 400
                    title: Bad Request
                    error: BAD_BODY_VALUE
                    detail: expected value at line 1 column 1
                empty_structured_address:
                  summary: Structured address object contains no geocodable content
                  value:
                    status: 400
                    title: Bad Request
                    error: BAD_BODY_VALUE
                    detail: Cannot geocode an empty structured address
        "401":
          description:
            Unauthorized – invalid or missing Cognito JWT when using bearer
            auth, or missing/malformed/mismatched `x-api-key` when using partner
            API-key auth.
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                invalid_jwt:
                  summary: Cognito bearer token is invalid
                  value:
                    status: 401
                    title: Unauthorized
                    error: UNAUTHORIZED
                missing_api_key:
                  summary:
                    x-api-key header is missing or empty when no Cognito identity is
                    present
                  value:
                    status: 401
                    title: Unauthorized
                    error: BAD_HEADER_VALUE
                    source:
                      field: x-api-key
                      sourceType: header
                    detail: Missing or empty 'x-api-key' header.
        "403":
          description: Forbidden – caller is not allowed to update this shop.
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ApiError"
              example:
                status: 403
                title: Forbidden
                error: PARTNER_SHOP_NOT_PARTNERED
                detail:
                  User '550e8400-e29b-41d4-a716-446655440111' is not the partner of shop
                  '550e8400-e29b-41d4-a716-446655440000'
        "404":
          description: Shop not found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ApiError"
              example:
                status: 404
                title: Not Found
                error: SHOP_NOT_FOUND
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ApiError"
              example:
                status: 500
                title: Internal Server Error
                error: INTERNAL_SERVER_ERROR
components:
  schemas:
    PutProductData:
      type: object
      description: >
        Data for upserting a single product via the partner batch-upsert
        endpoint.

        Only `shopsProductId` is required. All other fields are optional.


        - If the product **does not yet exist**, it is created using all
        provided fields.
          Omitting `title`, `url`, or `state` will result in placeholder defaults being applied
          internally (empty title, a placeholder URL, and `LISTED` state respectively).
        - If the product **already exists**, only `state` and `price` are
        updated; all other
          fields are ignored for the update path.

        to `UNKNOWN` when omitted.
      required:
        - shopsProductId
      properties:
        shopsProductId:
          type: string
          description:
            The shop's own identifier for the product. Must be unique within
            the shop.
          example: baroque-violin-001
        title:
          allOf:
            - $ref: "#/components/schemas/LocalizedTextData"
          nullable: true
          description:
            Optional localized title for the product. Used only when creating a
            new product.
        description:
          allOf:
            - $ref: "#/components/schemas/LocalizedTextData"
          nullable: true
          description:
            Optional localized description of the product. Used only when
            creating a new product.
        price:
          allOf:
            - $ref: "#/components/schemas/PriceData"
          nullable: true
          description:
            Optional asking price for the product. Applied on both create and
            update paths.
        priceEstimateMin:
          allOf:
            - $ref: "#/components/schemas/PriceData"
          nullable: true
          description:
            Optional lower bound of the estimated price range. Used only when
            creating a new product.
        priceEstimateMax:
          allOf:
            - $ref: "#/components/schemas/PriceData"
          nullable: true
          description:
            Optional upper bound of the estimated price range. Used only when
            creating a new product.
        state:
          allOf:
            - $ref: "#/components/schemas/ProductStateData"
          nullable: true
          description: Optional product state. Applied on both create and update paths.
        url:
          type: string
          format: uri
          nullable: true
          description:
            URL to the product on the shop's website. Used only when creating a
            new product.
          example: https://my-shop.com/products/baroque-violin
        images:
          type: array
          items:
            type: string
            format: uri
          nullable: true
          description:
            List of image URLs for the product. Used only when creating a new
            product.
          example:
            - https://my-shop.com/images/violin-1.jpg
            - https://my-shop.com/images/violin-2.jpg
        auctionStart:
          type: string
          format: date-time
          nullable: true
          description: >
            RFC3339 timestamp of when the auction for this product starts.

            Only relevant for auction-house shop types. Used only when creating
            a new product.
          example: 2025-05-01T12:00:00Z
        auctionEnd:
          type: string
          format: date-time
          nullable: true
          description: >
            RFC3339 timestamp of when the auction for this product ends.

            Only relevant for auction-house shop types. Used only when creating
            a new product.
          example: 2025-05-10T12:00:00Z
        sellerName:
          type: string
          nullable: true
          description: >
            Optional raw name of the secondary seller for this product.

            Only applicable for `AUCTION_PLATFORM` and `MARKETPLACE` shop types.

            When provided, the backend resolves the seller shop by this name and
            associates the product with that seller.

            When omitted, or when the shop type is neither `AUCTION_PLATFORM`
            nor `MARKETPLACE`, the partner shop itself is used as the seller.

            Used only when creating a new product.
          example: Christie's London
        structuredAddress:
          allOf:
            - $ref: "#/components/schemas/StructuredAddressData"
          nullable: true
          description:
            Optional structured address to attach to the product for geo-aware
            indexing and search. Used only when creating a new product.
        geoAddress:
          allOf:
            - $ref: "#/components/schemas/GeoAddressData"
          nullable: true
          description:
            Optional coordinates to attach to the product for geo-aware
            indexing and search. Used only when creating a new product.
    PutProductsResponse:
      type: object
      description: >
        Response for the batch product-upsert endpoint.

        The `errors` map contains entries only for products that failed to
        upsert.

        An empty map indicates that all products were upserted successfully.
      required:
        - errors
      properties:
        errors:
          type: object
          additionalProperties:
            type: string
          description: >
            Map of `shopsProductId` to error key for products that failed to
            upsert.

            An empty object indicates full success. The only possible error
            value is `UPSERT_FAILED`.
          example:
            baroque-violin-002: UPSERT_FAILED
    ApiError:
      type: object
      description: Standard error response format (RFC 9457)
      required:
        - status
        - title
        - error
      properties:
        status:
          type: integer
          description: HTTP status code
          example: 400
        title:
          type: string
          description: HTTP status code in human-readable form
          example: Bad Request
        error:
          type: string
          description: Error code identifier
          example: BAD_PARAMETER
        source:
          $ref: "#/components/schemas/ApiErrorSource"
        detail:
          type: string
          description: Human-readable error message
          example: "Expected any of: 'true' or 'false'. Got: 'invalid'"
    PatchShopData:
      type: object
      description: >
        Partial update for a shop.

        Only the fields present in the request body are applied; omitted or
        `null` fields are left unchanged.

        All fields are optional, so `{}` is accepted as a no-op update when sent
        as the JSON request body.
      properties:
        shopType:
          allOf:
            - $ref: "#/components/schemas/ShopTypeData"
          nullable: true
          description: Optional updated shop type classification.
        domains:
          type: array
          items:
            type: string
          nullable: true
          description: >
            Optional updated set of domains for the shop.

            When provided, this replaces the existing domains entirely.

            Domains are normalized (lowercase, no scheme, no www prefix, no
            path/query/fragment).
          example:
            - tech-store-premium.com
            - tech-store-premium.de
        shopifyDomain:
          type: string
          nullable: true
          description: >
            Optional updated Shopify storefront domain used for Shopify
            partner-shop event matching.

            Normalized with the same rules as `domains`.

            When omitted or set to `null`, the current Shopify domain remains
            unchanged.
          example: tech-store-premium.myshopify.com
        shopifyCurrency:
          allOf:
            - $ref: "#/components/schemas/CurrencyData"
          nullable: true
          description: >
            Optional updated Shopify currency for the shop, serialized as an ISO
            4217 code.

            When omitted or set to `null`, the current Shopify currency remains
            unchanged.
        shopifyLanguage:
          allOf:
            - $ref: "#/components/schemas/LanguageData"
          nullable: true
          description: >
            Optional updated Shopify default language for the shop.

            When configured, Shopify product lifecycle events for this shop are
            ingested using this language.

            When absent on the stored shop record, Shopify product lifecycle
            events currently fail instead of inferring or defaulting a language.

            When omitted or set to `null`, the current Shopify language remains
            unchanged.
        woocommerceWebhookSecret:
          type: string
          nullable: true
          writeOnly: true
          description: >
            Optional replacement WooCommerce webhook secret used to validate
            HMAC signatures on

            `POST /api/v1/webhooks/woocommerce/{shopId}`.

            When omitted or set to `null`, the current webhook secret remains
            unchanged.

            This field is write-only and is never returned by read responses.
          example: woocommerce-acceptance-secret
        woocommerceCurrency:
          allOf:
            - $ref: "#/components/schemas/CurrencyData"
          nullable: true
          description: >
            Optional updated WooCommerce currency for the shop, serialized as an
            ISO 4217 code.

            When omitted or set to `null`, the current WooCommerce currency
            remains unchanged.

            This currency is used when WooCommerce webhook payloads provide a
            non-empty `price`.
        woocommerceLanguage:
          allOf:
            - $ref: "#/components/schemas/LanguageData"
          nullable: true
          description: >
            Optional updated WooCommerce default language for the shop.

            When configured, WooCommerce webhook-ingested products for this shop
            are ingested using this language.

            When absent on the stored shop record, WooCommerce webhook requests
            currently fail instead of inferring or defaulting a language.

            When omitted or set to `null`, the current WooCommerce language
            remains unchanged.
        url:
          type: string
          format: uri
          nullable: true
          description: |
            Optional updated primary URL of the shop website.
            When omitted or set to `null`, the current URL remains unchanged.
          example: https://tech-store-premium.com/
        image:
          type: string
          format: uri
          nullable: true
          description: |
            Optional updated URL to the shop's logo or image.
            When omitted or set to `null`, the current image is left unchanged.
          example: https://tech-store-premium.com/new-logo.svg
        structuredAddress:
          allOf:
            - $ref: "#/components/schemas/StructuredAddressData"
          nullable: true
          description: >
            Optional updated structured postal address.

            When provided with at least one non-empty component, the backend
            geocodes it and refreshes `geoAddress`.

            When omitted or set to `null`, the current address remains
            unchanged.
        phone:
          type: string
          nullable: true
          description:
            Optional updated public contact phone number. When omitted or set
            to `null`, the current phone number remains unchanged.
          example: +49 30 123456
        email:
          type: string
          format: email
          nullable: true
          description:
            Optional updated public contact email address. When omitted or set
            to `null`, the current email address remains unchanged.
          example: contact@tech-store-premium.com
    GetShopData:
      type: object
      description: Complete shop information including metadata
      required:
        - shopId
        - shopSlugId
        - name
        - shopType
        - domains
        - partnerStatus
        - created
        - updated
      properties:
        shopId:
          type: string
          format: uuid
          description: Unique identifier of the shop
          example: 550e8400-e29b-41d4-a716-446655440000
        shopSlugId:
          type: string
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*$
          description: >
            Human-readable slug identifier of the shop (kebab-case, derived from
            shop name).

            Example: "tech-store-premium" or "christies"
          example: tech-store-premium
        name:
          type: string
          description: Display name of the shop
          maxLength: 255
          example: Tech Store Premium
        shopType:
          $ref: "#/components/schemas/ShopTypeData"
        domains:
          type: array
          items:
            type: string
          description: >
            All known domains associated with the shop.

            Domains are normalized (lowercase, no scheme, no www prefix, no
            path/query/fragment).
          minItems: 1
          maxItems: 100
          example:
            - tech-store-premium.com
            - tech-store-premium.de
            - apple.tech-store-premium.com
        shopifyDomain:
          type: string
          nullable: true
          description: >
            Optional normalized Shopify storefront domain associated with the
            shop.

            Used by the backend to match Shopify product lifecycle events to the
            shop.

            Normalized with the same rules as `domains` (lowercase, no scheme,
            no `www.` prefix, no path/query/fragment).
          example: tech-store-premium.myshopify.com
        shopifyCurrency:
          allOf:
            - $ref: "#/components/schemas/CurrencyData"
          nullable: true
          description:
            Optional Shopify currency configured for the shop, serialized as an
            ISO 4217 code.
        shopifyLanguage:
          allOf:
            - $ref: "#/components/schemas/LanguageData"
          nullable: true
          description: >
            Optional Shopify default language configured for the shop.

            Relevant for shops using Shopify partner-shop ingestion.

            When present, Shopify product lifecycle events for this shop are
            ingested using this language.

            When absent, Shopify product lifecycle events for this shop
            currently fail instead of inferring or defaulting a language.
        woocommerceCurrency:
          allOf:
            - $ref: "#/components/schemas/CurrencyData"
          nullable: true
          description: >
            Optional WooCommerce currency configured for webhook-ingested
            products, serialized as an ISO 4217 code.

            When WooCommerce webhooks send a non-empty `price`, the backend
            parses that amount in this currency.
        woocommerceLanguage:
          allOf:
            - $ref: "#/components/schemas/LanguageData"
          nullable: true
          description: >
            Optional WooCommerce default language configured for the shop.

            Relevant for shops using `POST
            /api/v1/webhooks/woocommerce/{shopId}`.

            When present, WooCommerce webhook-ingested products for this shop
            are ingested using this language.

            When absent, WooCommerce webhook requests for this shop currently
            fail instead of inferring or defaulting a language.
        url:
          type: string
          format: uri
          nullable: true
          description:
            Optional primary URL of the shop website. Read responses may
            include backend-managed UTM tracking parameters.
          example: https://tech-store-premium.com/?utm_source=aura_historia&utm_medium=referral
        image:
          type: string
          format: uri
          nullable: true
          description: Optional URL to the shop's logo or image
          example: https://tech-store-premium.com/logo.svg
        structuredAddress:
          $ref: "#/components/schemas/StructuredAddressData"
        geoAddress:
          $ref: "#/components/schemas/GeoAddressData"
        phone:
          type: string
          description: Optional public contact phone number of the shop.
          example: +49 30 123456
        email:
          type: string
          format: email
          description: Optional public contact email address of the shop.
          example: contact@tech-store-premium.com
        partnerStatus:
          $ref: "#/components/schemas/ShopPartnerStatusData"
        created:
          type: string
          format: date-time
          description: When the shop was first created (RFC3339 format)
          example: 2024-01-01T10:00:00Z
        updated:
          type: string
          format: date-time
          description: When the shop was last updated (RFC3339 format)
          example: 2024-01-01T12:00:00Z
    LocalizedTextData:
      type: object
      description: Text content with language information
      required:
        - text
        - language
      properties:
        text:
          type: string
          description: The text content
        language:
          $ref: "#/components/schemas/LanguageData"
    PriceData:
      type: object
      description: Price information with currency
      required:
        - currency
        - amount
      properties:
        currency:
          $ref: "#/components/schemas/CurrencyData"
        amount:
          type: integer
          description:
            Price amount in minor currency units (e.g., cents for most
            supported currencies, whole yen for JPY)
          minimum: 0
          example: 2999
    ProductStateData:
      type: string
      enum:
        - LISTED
        - AVAILABLE
        - RESERVED
        - SOLD
        - REMOVED
        - UNKNOWN
      description: |
        Current state of the product:
        - LISTED: Product has been listed
        - AVAILABLE: Product is available for purchase
        - RESERVED: Product is reserved by a buyer
        - SOLD: Product has been sold
        - REMOVED: Product has been removed and can no longer be tracked
        - UNKNOWN: Product has an unknown state
      example: AVAILABLE
    StructuredAddressData:
      type: object
      description: >
        Structured postal address used for shop metadata and geocoding.

        When supplied in shop create/update payloads, at least one component
        among `addressline`,

        `addresslineExtra`, `locality`, `region`, `postalCode`, or `country`
        must contain a non-empty

        value; `continent` alone does not make the address valid, and otherwise
        the backend rejects the

        request with `400 BAD_BODY_VALUE`.
      properties:
        addressline:
          type: string
          description: Primary free-form address line such as street and house number.
          example: Pariser Platz 1
        addresslineExtra:
          type: string
          description:
            Optional secondary address line such as floor, suite, building, or
            c/o information.
          example: 2. Etage
        locality:
          type: string
          description: City, town, or locality.
          example: Berlin
        region:
          type: string
          description: Region, state, province, or administrative area.
          example: Berlin
        postalCode:
          type: string
          description: Postal or ZIP code.
          example: "10117"
        country:
          allOf:
            - $ref: "#/components/schemas/CountryCodeData"
          description: >
            ISO 3166-1 alpha-2 country code serialized by the backend.

            When `continent` is omitted but `country` is present, the backend
            derives the continent from this code.
        continent:
          allOf:
            - $ref: "#/components/schemas/ContinentData"
          description: >
            Optional continent value exposed alongside `country` in
            structured-address data.

            If omitted while `country` is present, the backend derives it
            automatically.
    GeoAddressData:
      type: object
      description: Latitude/longitude coordinates derived by the backend from
        `structuredAddress`.
      required:
        - lat
        - lon
      properties:
        lat:
          type: number
          format: double
          description: Latitude in decimal degrees.
          example: 52.516275
        lon:
          type: number
          format: double
          description: Longitude in decimal degrees.
          example: 13.377704
    ApiErrorSource:
      type: object
      description: Information about the source of the error
      required:
        - field
        - sourceType
      properties:
        field:
          type: string
          description: Name of the field that caused the error
          example: shopId
        sourceType:
          type: string
          enum:
            - query
            - path
            - header
            - body
          description: Type of parameter that caused the error
          example: path
    ShopTypeData:
      type: string
      enum:
        - AUCTION_HOUSE
        - AUCTION_PLATFORM
        - COMMERCIAL_DEALER
        - MARKETPLACE
      description: |
        Type of vendor or shop:
        - AUCTION_HOUSE: Auction house selling items through auctions
        - AUCTION_PLATFORM: Auction platform hosting auctions for auction-houses
        - COMMERCIAL_DEALER: Commercial dealer or shop selling items directly
        - MARKETPLACE: Marketplace platform connecting buyers and sellers
      example: COMMERCIAL_DEALER
    CurrencyData:
      type: string
      enum:
        - EUR
        - GBP
        - USD
        - AUD
        - CAD
        - NZD
        - CNY
        - BRL
        - PLN
        - TRY
        - JPY
        - CZK
        - RUB
        - AED
        - SAR
        - HKD
        - SGD
        - CHF
      description: |
        Supported currencies (ISO 4217 codes):
        - EUR: Euro
        - GBP: British Pound
        - USD: US Dollar
        - AUD: Australian Dollar
        - CAD: Canadian Dollar
        - NZD: New Zealand Dollar
        - CNY: Chinese Yuan
        - BRL: Brazilian Real
        - PLN: Polish Złoty
        - TRY: Turkish Lira
        - JPY: Japanese Yen
        - CZK: Czech Koruna
        - RUB: Russian Ruble
        - AED: UAE Dirham
        - SAR: Saudi Riyal
        - HKD: Hong Kong Dollar
        - SGD: Singapore Dollar
        - CHF: Swiss Franc
      default: EUR
      example: EUR
    LanguageData:
      type: string
      enum:
        - de
        - en
        - fr
        - es
        - it
        - zh
        - pt
        - pl
        - tr
        - nl
        - cs
        - ja
        - ru
        - ar
      description: >
        Supported language codes (ISO 639-1 canonical values):

        - de: German (includes de-DE, de-AT, de-CH, de-LU, de-LI)

        - en: English (includes en-US, en-GB, en-AU, en-CA, en-NZ, and
        backend-specific accepted alias en_IE)

        - fr: French (includes fr-FR, fr-CA, fr-BE, fr-CH, fr-LU)

        - es: Spanish (includes es-ES, es-MX, es-AR, es-CO, es-CL, es-PE, es-VE)

        - it: Italian (includes it-IT, it-CH)

        - zh: Chinese (Simplified) (includes zh-CN, zh-Hans)

        - pt: Portuguese (includes pt-PT, pt-BR)

        - pl: Polish (includes pl-PL)

        - tr: Turkish (includes tr-TR)

        - nl: Dutch (includes nl-NL, nl-BE)

        - cs: Czech (includes cs-CZ)

        - ja: Japanese (includes ja-JP)

        - ru: Russian (includes ru-RU)

        - ar: Arabic (includes ar-SA, ar-EG, ar-AE)


        `de`, `en`, `fr`, `es`, and `it` are fully supported
        localization/translation-target languages.

        `zh`, `pt`, `pl`, `tr`, `nl`, `cs`, `ja`, `ru`, and `ar` are
        ingestion-only languages:

        they can appear in stored/native content and are accepted anywhere
        `LanguageData` is used,

        but backend-generated translations and fallback localized strings are
        not produced in these languages.
      default: en
      example: de
    ShopPartnerStatusData:
      type: string
      enum:
        - SCRAPED
        - PARTNERED
      description: |
        Partner relationship status of a shop:
        - SCRAPED: Shop data exists without a linked partner user
        - PARTNERED: Shop is linked to a partner user
      example: PARTNERED
    CountryCodeData:
      type: string
      description: ISO 3166-1 alpha-2 country code serialized by the backend.
      enum:
        - AD
        - AE
        - AF
        - AG
        - AI
        - AL
        - AM
        - AO
        - AQ
        - AR
        - AS
        - AT
        - AU
        - AW
        - AX
        - AZ
        - BA
        - BB
        - BD
        - BE
        - BF
        - BG
        - BH
        - BI
        - BJ
        - BL
        - BM
        - BN
        - BO
        - BQ
        - BR
        - BS
        - BT
        - BV
        - BW
        - BY
        - BZ
        - CA
        - CC
        - CD
        - CF
        - CG
        - CH
        - CI
        - CK
        - CL
        - CM
        - CN
        - CO
        - CR
        - CU
        - CV
        - CW
        - CX
        - CY
        - CZ
        - DE
        - DJ
        - DK
        - DM
        - DO
        - DZ
        - EC
        - EE
        - EG
        - EH
        - ER
        - ES
        - ET
        - FI
        - FJ
        - FK
        - FM
        - FO
        - FR
        - GA
        - GB
        - GD
        - GE
        - GF
        - GG
        - GH
        - GI
        - GL
        - GM
        - GN
        - GP
        - GQ
        - GR
        - GS
        - GT
        - GU
        - GW
        - GY
        - HK
        - HM
        - HN
        - HR
        - HT
        - HU
        - ID
        - IE
        - IL
        - IM
        - IN
        - IO
        - IQ
        - IR
        - IS
        - IT
        - JE
        - JM
        - JO
        - JP
        - KE
        - KG
        - KH
        - KI
        - KM
        - KN
        - KP
        - KR
        - KW
        - KY
        - KZ
        - LA
        - LB
        - LC
        - LI
        - LK
        - LR
        - LS
        - LT
        - LU
        - LV
        - LY
        - MA
        - MC
        - MD
        - ME
        - MF
        - MG
        - MH
        - MK
        - ML
        - MM
        - MN
        - MO
        - MP
        - MQ
        - MR
        - MS
        - MT
        - MU
        - MV
        - MW
        - MX
        - MY
        - MZ
        - NA
        - NC
        - NE
        - NF
        - NG
        - NI
        - NL
        - NO
        - NP
        - NR
        - NU
        - NZ
        - OM
        - PA
        - PE
        - PF
        - PG
        - PH
        - PK
        - PL
        - PM
        - PN
        - PR
        - PS
        - PT
        - PW
        - PY
        - QA
        - RE
        - RO
        - RS
        - RU
        - RW
        - SA
        - SB
        - SC
        - SD
        - SE
        - SG
        - SH
        - SI
        - SJ
        - SK
        - SL
        - SM
        - SN
        - SO
        - SR
        - SS
        - ST
        - SV
        - SX
        - SY
        - SZ
        - TC
        - TD
        - TF
        - TG
        - TH
        - TJ
        - TK
        - TL
        - TM
        - TN
        - TO
        - TR
        - TT
        - TV
        - TW
        - TZ
        - UA
        - UG
        - UM
        - US
        - UY
        - UZ
        - VA
        - VC
        - VE
        - VG
        - VI
        - VN
        - VU
        - WF
        - WS
        - YE
        - YT
        - ZA
        - ZM
        - ZW
      example: DE
    ContinentData:
      type: string
      description: Continent derived from a structured-address country code.
      enum:
        - AFRICA
        - ANTARCTICA
        - ASIA
        - EUROPE
        - NORTH_AMERICA
        - OCEANIA
        - SOUTH_AMERICA
      example: EUROPE
  securitySchemes:
    PartnerApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: >
        API key for partner shops. Issued to shops that have been granted
        partner status.

        The key must be provided in the `x-api-key` request header.

        This scheme is separate from user authentication (Cognito JWT) and is
        used

        by partner shops for programmatic product ingestion, WooCommerce webhook
        delivery,

        and selected partner-authorized shop operations.
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        Cognito JWT token.

        The token is used for authenticating and authorizing users as well as
        personalizing responses.
tags:
  - name: Products
    description: Operations related to product retrieval and search
  - name: Shops
    description: Operations related to shop retrieval and search
